<div class="datepicker-wrapper">
  <div class="date">
    <button class="button button--icon" (click)="previousDay()">
      <i class="date__icon fas fa-angle-left"></i>
    </button>
    <div class="date__selected-day" (click)="toggleOpen()">{{selectedDate | date: dateformat}}</div>
    <button class="button button--icon" (click)="nextDay()">
      <i class="date__icon fas fa-angle-right"></i>
    </button>
  </div>

  <div class="overlay" *ngIf="isOpen" (click)="toggleOpen()"></div>
  <div class="picker" *ngIf="isOpen">
    <div class="picker__header">
      <button class="button button--primary button--small" (click)="previousMonth()">Previous</button>
      <span>{{selectedDate | date: 'MMMM'}}</span>
      <button class="button button--primary button--small" (click)="nextMonth()">Next</button>
    </div>

    <div class="picker__days">
      <div class="picker__weekday" *ngFor="let weekday of weekdays">{{weekday}}</div>
      <div class="picker__day" *ngFor="let placeholder of placeholders"></div>
      <div #dayRef class="picker__day" *ngFor="let day of daysInMonthArray"
        (click)="selectDay(day)">{{day}}</div>
    </div>
  </div>
</div>
