<div class="container">

  <div class="intake-goal-wrapper" *ngIf="userGoals">
    <div class="intake-goal">
      <div class="intake-goal__numbers">
        <div class="intake-goal__calories">
          <span>Calories: {{getTotal("calories")  | number:'1.0-0'}}/<strong>{{goalCal}}</strong></span>
        </div>
        <div class="intake-goal__macros">
          <span class="intake-goal__macro">Protein: {{getTotal("protein") | number:'1.1-1'}}/<strong>{{userGoals[0]}}</strong></span>
          <span class="intake-goal__macro">Fat: {{getTotal("fat") | number:'1.1-1'}}/<strong>{{userGoals[1]}}</strong></span>
          <span class="intake-goal__macro">Carbs: {{getTotal("carbs") | number:'1.1-1'}}/<strong>{{userGoals[2]}}</strong></span>
        </div>
      </div>
      <div class="intake-goal__graph">
        <div #bargraph class="bargraph-wrapper">
          <bargraph [percentage]="getTotal('protein')/userGoals[0]*100" [title]="'P'"></bargraph>
          <bargraph [percentage]="getTotal('fat')/userGoals[1]*100" [title]="'F'"></bargraph>
          <bargraph [percentage]="getTotal('carbs')/userGoals[2]*100" [title]="'C'"></bargraph>
        </div>
      </div>
    </div>
  </div>

  <div class="intake-goal-wrapper" *ngIf="!userGoals">
    <div class="intake-goal intake-goal--placeholder">
      <span>You haven't set your goal intake yet!</span>
    </div>
  </div>

  <div class="logday">
    <div class="logday__date">
      <datepicker (change)="getDifferentDay($event)"></datepicker>
    </div>

    <div class="logday__header">
      <span class="logday__header__macro"></span>
      <span class="logday__header__macro">Protein</span>
      <span class="logday__header__macro">Fat</span>
      <span class="logday__header__macro">Carbs</span>
      <span class="logday__header__macro"></span>
    </div>

    <log-meal #breakfast [open]="breakfastOpen" [food]="foodAndPortions" [date]="displayDate" [meal]="'Breakfast'" [logEntries]="breakfastLogs" (dataChanged)="refresh()"></log-meal>
    <log-meal #lunch [open]="lunchOpen" [food]="foodAndPortions" [date]="displayDate" [meal]="'Lunch'" [logEntries]="lunchLogs" (dataChanged)="refresh()"></log-meal>
    <log-meal #dinner [open]="dinnerOpen" [food]="foodAndPortions" [date]="displayDate" [meal]="'Dinner'" [logEntries]="dinnerLogs" (dataChanged)="refresh()"></log-meal>
    <log-meal #snacks [open]="snacksOpen" [food]="foodAndPortions" [date]="displayDate" [meal]="'Snacks'" [logEntries]="snacksLogs" (dataChanged)="refresh()"></log-meal>

    <div class="logday__total">
      <span class="logday__total__title">Daily total</span>
      <span class="total__macro total__macro--first">{{getTotal("protein") | number:'1.1-1'}}</span>
      <span class="total__macro">{{getTotal( "fat") | number:'1.1-1'}}</span>
      <span class="total__macro">{{getTotal("carbs") | number:'1.1-1'}}</span>
      <span class="total__calories">{{getTotal("calories")  | number:'1.0-0'}} kcal</span>
    </div>
  </div>

  <div class="button-wrapper--floating-action">
    <button class="button--floating-action button button--primary" (click)="openModal()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="modal-wrapper" *ngIf="modalIsVisible">
    <add-food-modal (close)="closeModal($event)"></add-food-modal>
  </div>

</div>
