@import "../../../../../css/variables.scss";

.weightgraph-wrapper {
  @media (min-width: $phone) {
    padding: 0;
  }
  padding-left: 10px;
  padding-right: 10px;
}

.weightgraph {
  @media (min-width: $phone) {
    height: 350px;
  }
  @media (min-width: $tablet) {
    height: 500px;
  }
  width: 100%;
  height: 250px;
}

.date-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  & * {
    margin-right: 0.5rem;
  }

  datepicker {
    margin-right: 2rem;
  }
}

.table-wrapper {
  margin-top: 1rem;
}
