@import "./variables.scss";

// color shortcuts
.primary,
.is-primary {
  color: $primary;
}

.secondary,
.is-secondary {
  color: $secondary;
}

.warning,
.is-warning {
  color: $warning;
}

.bg-white {
  background-color: white;
}

.bg-light-grad {
  background-image: linear-gradient(to bottom, #d1d9f2, #b1dcf2);
}

.bg-blue-grad {
  background-image: $backgroundGradient;
  color: white;
}

// layout shortcuts
.is-relative {
  position: relative;
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.mg-auto {
  margin-left: auto;
  margin-right: auto;
}

.minh-vh {
  min-height: 100vh;
}
