<div #logMeal class="log-meal" [ngClass]="{'log-meal--grow': editable}">
  <div class="meal" *ngIf="!editable">
    <span class="meal__title">{{meal}}</span>

    <div class="meal__display">
      <div *ngFor="let logEntry of logEntries" class="meal__ingredient">
        <span class="meal__ingredient__name">{{logEntry.food.name}}</span>
        <span class="meal__ingredient__amount" *ngIf="logEntry.portion">{{logEntry.multiplier | number:'1.0-2'}} {{logEntry.portion.description}}</span>
        <span class="meal__ingredient__amount" *ngIf="!logEntry.portion && logEntry.food.measurementUnit=='GRAMS'">{{logEntry.food.unitGrams * logEntry.multiplier | number:'1.0-2'}}  {{logEntry.food.unitName}}</span>
        <span class="meal__ingredient__amount" *ngIf="!logEntry.portion && logEntry.food.measurementUnit=='UNIT'">{{logEntry.multiplier | number:'1.0-2'}}  {{logEntry.food.unitName}}</span>
        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.protein | number:'1.1-1'}}</span>
        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.fat | number:'1.1-1'}}</span>
        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.carbs | number:'1.1-1'}}</span>
        <span class="meal__ingredient__calories">{{logEntry.macrosCalculated.calories | number:'1.0-0'}} kcal</span>
      </div>
    </div>
  </div>

  <div class="meal" *ngIf="editable">
    <span class="meal__title">{{meal}}<i class="meal__icon fas fa-file-import" title="Copy {{meal.toLowerCase()}} from previous day"
                                         (click)="copyPrevious()"></i>
    </span>

    <div class="meal__editable">
      <div *ngFor="let logEntry of logEntries" class="meal__edit-ingredient">
        <div class="meal__edit-ingredient__name">
          {{logEntry.food.name}}
        </div>

        <div class="meal__edit-ingredient__amount">
          <div class="meal__edit-ingredient__amount__input">
            <input class="portioninput"
                   (keyup)="amountChange(logEntry)" type="number" step="0.1"
                   *ngIf="logEntry.portion"
                   [value]="getValue(logEntry)"
                   (input)="setMultiplier($event,logEntry)">
            <input (keyup)="amountChange(logEntry)" type="number" step="1"
                   *ngIf="!logEntry.portion && logEntry.food.measurementUnit == 'GRAMS'"
                   [value]="getValue(logEntry)"
                   (input)="setMultiplier($event,logEntry)">
            <input (keyup)="amountChange(logEntry)" type="number"
                   *ngIf="!logEntry.portion && logEntry.food.measurementUnit == 'UNIT'"
                   [value]="getValue(logEntry)"
                   (input)="setMultiplier($event,logEntry)" step="0.1">
          </div>

        </div>

        <div class="meal__edit-ingredient__measurement">
          <select (change)="portionChange(logEntry, $event.target)">
            <!-- the default unitname -->
            <option value="defaultUnit" selected="{{getSelected(logEntry.portion, undefined)}}">{{logEntry.food.unitName}}</option>
            <!-- all available portions -->
            <option *ngFor="let portion of getAvailablePortions(logEntry)"
                    selected="{{getSelected(logEntry.portion, portion)}}"
                    value="{{portion.description}}">{{portion.description}}
            </option>
          </select>
        </div>

        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.protein | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.fat | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.carbs | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__calories">
          {{logEntry.macrosCalculated.calories | number:'1.0-0'}} kcal
        </div>
        <div class="meal__edit-ingredient__delete">
          <button class="button button--transparent" (click)="deleteLogEntry(logEntry)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>

      <div class="meal__new-ingredient">
        <autocomplete-food class="meal__new-ingredient__name"
                           [food]="food"
                           [placeholder]="'What did you have for ' + meal.toLowerCase() + '?'"
                           [selectFn]="addLogEntryCallBack">
        </autocomplete-food>

        <div class="meal__new-ingredient__close">
          <button (click)="close()" class="button button--transparent">
            <i class="fas fa-check"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
