<div class="container container--first">

  <div class="tile">
    <div class="search-bar">
      <label class="search-bar__label">Search</label>
      <input class="search-bar__input"
             [(ngModel)]="searchInput"
             (input)="findFoodMatch()">
      <button class="button button--primary" (click)="clearSearch()">Clear</button>
    </div>

    <div class="settings">
      <label class="settings__label">Display mode</label>
      <div class="radio-wrapper">
        <input type="radio" [(ngModel)]="displayMode" value="grams"
               (input)="changeDisplay('grams')"
               [ngClass]="{'checked': displayMode === 'grams'}">
        <span class="radio-label">Grams</span>
        <input type="radio" [(ngModel)]="displayMode" value="percentage"
               (input)="changeDisplay('percentage')"
               [ngClass]="{'checked': displayMode === 'percentage'}">
        <span class="radio-label">Percentage</span>
      </div>
    </div>

    <div class="food-table">
      <div class="table-header">
        <div class="table-header__name" (click)="sortBy('name')">Name </div>
        <div class="table-header__amount" *ngIf="displayMode==='grams'">Amount </div>
        <div class="table-header__protein" [ngClass]="{'table-header__protein--percent' : displayMode==='percentage'}" (click)="sortBy('protein')">Protein</div>
        <div class="table-header__fat" [ngClass]="{'table-header__fat--percent' : displayMode==='percentage'}" (click)="sortBy('fat')">Fat </div>
        <div class="table-header__carbs" [ngClass]="{'table-header__carbs--percent' : displayMode==='percentage'}" (click)="sortBy('carbs')">Carbs</div>

        <div class="table-header__protein--mobile" [ngClass]="{'table-header__protein--percent' : displayMode==='percentage'}" (click)="sortBy('protein')">P</div>
        <div class="table-header__fat--mobile" [ngClass]="{'table-header__fat--percent' : displayMode==='percentage'}" (click)="sortBy('fat')">F </div>
        <div class="table-header__carbs--mobile" [ngClass]="{'table-header__carbs--percent' : displayMode==='percentage'}" (click)="sortBy('carbs')">C</div>
      </div>
      <div *ngIf="displayedFood">
        <div class="table-row" *ngFor="let food of displayedFood" (click)="openModal(food)">
          <div class="food">
            <div class="food__name">{{food.name}}</div>
            <div class="food__amount" *ngIf="food.measurementUnit=='GRAMS' && displayMode==='grams'">{{food.unitGrams}} {{food.unitName}}</div>
            <div class="food__amount" *ngIf="food.measurementUnit=='UNIT' && displayMode==='grams'">1 {{food.unitName}}</div>
            <div class="food__protein" [ngClass]="{'food__protein--percent' : displayMode==='percentage'}">{{food.protein | number:'1.1-1'}}</div>
            <div class="food__fat" [ngClass]="{'food__fat--percent' : displayMode==='percentage'}">{{food.fat | number:'1.1-1'}}</div>
            <div class="food__carbs" [ngClass]="{'food__carbs--percent' : displayMode==='percentage'}">{{food.carbs | number:'1.1-1'}}</div>
          </div>
          <div class="portions" *ngIf="displayMode==='grams'">
            <div class="portion" *ngFor="let portion of food.portions">
              <div class="portion__description">
                <div class="portion__description--padded">{{portion.description}}</div>
              </div>
              <div class="portion__amount" *ngIf="food.measurementUnit=='GRAMS' && displayMode==='grams'">{{portion.grams}} {{food.unitName}}</div>
              <div class="portion__amount" *ngIf="food.measurementUnit=='UNIT' && displayMode==='grams'">1 {{portion.unitMultiplier}} {{food.unitName}}</div>
              <div class="portion__protein">{{portion.macros.protein | number:'1.1-1'}}</div>
              <div class="portion__fat">{{portion.macros.fat | number:'1.1-1'}}</div>
              <div class="portion__carbs">{{portion.macros.carbs | number:'1.1-1'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<button class="button button&#45;&#45;primary" (click)="itemsPerPage = 5">5</button>-->
    <!--<button class="button button&#45;&#45;primary" (click)="itemsPerPage = 10">10</button>-->

    <pager [itemsInTotal]="searchableFood.length"
           [currentPage]="currentPage"
           (pageChange)="getPagedFood($event)"
           [itemsPerPage]="itemsPerPage"></pager>

  </div>

</div>


<div class="button-wrapper--floating-action">
  <button class="button--floating-action button button--primary" (click)="openModal(null)">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div class="modal-wrapper" *ngIf="modalIsVisible">
  <add-food-modal [food]="selectedFood" (close)="closeModal($event)"></add-food-modal>
</div>
