<div class="bargraph">
  <div class="bargraph__title">{{title}}</div>

  <div class="bargraph__track-container">
    <div class="bargraph__track">
    </div>
    <div #trackFill class="bargraph__track bargraph__track--fill">
    </div>
  </div>

  <!--<div class="bargraph__numbers">-->
    <!--<span></span>-->
  <!--</div>-->
</div>
