@import "../../../../css/variables.scss";

.photo-wrapper {
  display: flex;
  background-image: url("assets/about-us.jpg");
  width: 640px;
  position: relative;
  margin-bottom: 1rem;
}

.is-blurred {
  filter: blur(20px);
}
