<div class="bg-lgt-blue minh-vh">
	<nav class="navbar is-fixed-top">
		<div class="container container--flex">
			<div class="navbar-brand">
				<div class="navbar-item" routerLink="/">
					<div class="brand-wrapper">
						<img src="assets/logo-m.png" aria-label="M">
					</div>
				</div>

				<a role="button" class="navbar-burger" aria-label="hamburger-menu" aria-expanded="false" (click)="toggleMenu()">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div class="navbar-mobile-menu" [ngClass]="{ 'is-visible' : menuToggle }">
				<div class="navbar-mobile-item" routerLink="/about">About</div>
				<div *ngIf="!isLoggedIn()" class="navbar-mobile-item" routerLink="/login">Log in</div>
			</div>

			<div class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item" routerLink="/about">About</div>
				</div>

				<div class="navbar-end">
					<div *ngIf="!isLoggedIn()" class="navbar-item">
						<button class="button button--primary" routerLink="/login">Log in</button>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<section class="section">
		<div class="container">
			<h1>Who are we?</h1>

			<div class="columns">
				<div class="column">
					<p> Hello there! This is the Macrolog team. </p>

					<p>
						Macrolog was developed by us: two software engineers who wanted to get in shape. After using several
						food tracking applications we got a little tired of adds and payed functions which, in our opinion, should
						be free. So for laughs and learning, and like every stubborn programmer, we decided to take it upon
						ourselves to build a better app. This hobby project got a little out of hand and what started as a simple
						Android app has now turned into a platform of food intake and energy expenditure analyses. Or rather, that's
						what we want it to be in the future. I guess we are somewhere halfway.
					</p>

					<h1>Why Macrolog?</h1>

					<p>
						We were looking for a way to track food intake based in macronutrients rather than calories. We
						believe that to effectively change your body composition, whether it's losing weight or building muscle,
						tracking macronutrient is the way. Unfortunately, in most food tracking apps calories come first and macro's
						come second. Sometimes entering a different ratio of your
						prefered macronutrient intake is a function you have to pay for. This, together with the general desire to
						dive into app development, is why we decided to flip these priorities and build an app that focusses on
						macro's first.
					</p>
				</div>

				<div class="column">
					<div class="photo-wrapper">
						<img src="assets/about-us.jpg">
					</div>
				</div>
			</div>

			<h1>What we are good at</h1>

			<p>
				We are good at making software. We like making new features, add new divices and platforms to hook up to ours.
				We love gathering data about every aspect of nutrition and exercise, and we love analyzing this data to make
				better
				estimations and to slowly perfect our diet. That is what Macrolog is for, gathering data and see what you're
				actually doing,
				and see what works to achieve a physical goal.
			</p>

			<h1>What we are not so good at</h1>

			<p>
				Macrolog will probably never include dietary advice for anyone. This is because we have zero educational
				background in nutrition or food chemistry. We won't pretend to know much about dieting and we feel we are not in
				a place to tell anyone what to do.
				Also, the concept of the "right" proportions is somewhat debatable, and what works for one
				person may not work
				for another. </p>

			<p>In the end, we just want to help you measure.</p>
		</div>
	</section>
</div>