<div class="modal-wrapper" *ngIf="showCalcModal">
  <calculate-intake-modal (close)="closeCalcModal($event)" [age]="age" [gender]="gender"
                          [height]="height" [weight]="weight" [activity]="activity">
  </calculate-intake-modal>
</div>

<div class="container container--row">
  <div class="section section--left">
    <h3 class="title">Personal details</h3>

    <form>
      <div class="form-field">
        <label class="form-field__label">Name</label>
        <div class="form-field__element">
          <input class="" name="name" type="text" [(ngModel)]="name">
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Age</label>
        <div class="form-field__element">
          <input class="" name="age" type="number" [(ngModel)]="age">
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Gender</label>
        <div class="form-field__element">
          <div class="radio-wrapper">
            <input type="radio" name="gender"
                   [(ngModel)]="gender" value="MALE"
                   [ngClass]="{'checked fas fa-check': gender === 'MALE' }">
            <span class="radio-label">Male</span>
            <input type="radio" name="gender"
                   [(ngModel)]="gender" value="FEMALE"
                   [ngClass]="{'checked fas fa-check': gender === 'FEMALE' }">
            <span class="radio-label">Female</span>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Height (cm)</label>
        <div class="form-field__element">
          <input class="" name="height" type="number" [(ngModel)]="height">
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Start weight (kg)</label>
        <div class="form-field__element">
          <input class="" name="weight" type="number" [(ngModel)]="weight" step="0.1">
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Activity level</label>
        <div class="form-field__element">
          <select class="" name="activity" [(ngModel)]="activity">
            <option class="" value="1.2">Sedentary</option>
            <option class="" value="1.375">Lightly active</option>
            <option class="" value="1.55">Moderately active</option>
            <option class="" value="1.725">Very active</option>
            <option class="" value="1.9">Extremely active</option>
          </select>
        </div>
      </div>
    </form>

    <div class="button-wrapper">
      <button class="button button--primary" (click)="saveUserSettings()">Save</button>
    </div>
  </div>

  <div class="section section--right">
    <h3 class="title">Daily intake</h3>

    <div class="form-field">
      <label class="form-field__label">Protein</label>
      <span class="form-field__text">{{goalProtein ? goalProtein + ' gram' : ''}}</span>
    </div>

    <div class="form-field">
      <label class="form-field__label">Fat</label>
      <span class="form-field__text">{{goalFat ? goalFat + ' gram' : ''}}</span>
    </div>

    <div class="form-field">
      <label class="form-field__label">Carbs</label>
      <span class="form-field__text">{{goalCarbs ? goalCarbs + ' gram' : ''}}</span>
    </div>

    <div class="button-wrapper">
      <button class="button button--primary" (click)="openCalcModal()">Set daily intake</button>
    </div>

  </div>
</div>

<div class="container" *ngIf="false">
  <h3>Track weight</h3>

  <p>See your weight progression on the <a href="/graphs">graphs</a> page</p>

  <div class="form-field">
    <label class="form-field__label">Date of measurement</label>
    <div class="form-field__element">
      <datepicker (change)="weighingDate = $event"></datepicker>
    </div>
  </div>

  <div class="form-field">
    <label class="form-field__label">Weight</label>
    <div class="form-field__element">
      <input [(ngModel)]="newWeight" type="number" step="0.1">
    </div>
  </div>

  <div class="button-wrapper">
    <button class="button button--primary" (click)="saveNewWeight()">Save</button>
  </div>
</div>

<div class="container">
  <h3>Options</h3>

  <div class="button-wrapper">
    <button class="button button--primary" (click)="exportData()">Export data</button>

    <button class="button button--primary" (change)="importData($event)" type="file">Import data</button>
  </div>
</div>