<div class="autocomplete-wrapper" #newIngredient (keydown)="onKeyDown($event)">
  <input class="autocomplete__input" placeholder="{{placeholder}}"
         (input)="findFoodMatch($event)"
         [(ngModel)]="foodName"
         (focus)="showAutoComplete = true">
  <div #autoComplete class="autocomplete" *ngIf="showAutoComplete">
    <ng-container *ngFor="let match of foodMatch">
      <div class="autocomplete__option"
           (click)="selectFn(match); foodName = ''; showAutoComplete = false"
           (keypress)="selectFn(match); foodName = ''; showAutoComplete = false"
           tabindex="0">
        {{matchDescription(match)}}
      </div>
    </ng-container>
  </div>
</div>