.bargraph-wrapper {
	@media(min-width: $md) {
		margin-left: ($gutter/2);
	}
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.bargraph {
	@media(min-width: $md) {
		height: 40px;
	}
	height: 30px;
	min-width: 120px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;

	&__track-container {
		@media(min-width: $md) {
			height: 30px;
		}
		position: relative;
		height: 20px;
		flex-basis: 80%
	}

	&__track {
		@media(min-width: $md) {
  		height: 30px;
  	}
		@include elevation(1);
		position: absolute;
		background-color: $smoke;
		height: 20px;
		top: 0;
		left: 0;
		width: 100%;

		&--fill {
			@media(min-width: $md) {
    		height: 20px;
    		top: 5px;
    	}
			@include elevation(2);
			background-color: #29c646;
			height: 16px;
			top: 2px;
			width: 1%;
			transition: width 0.3s;
		}
	}

	&__title {
		@media(min-width: $md) {
			font-size: 16px;
		}
		flex-basis: 5%;
		font-size: 14px;
		font-weight: 500;
  	margin-right: 5px;
  }

	&__numbers {
		display: flex;
		font-weight: bold;
		font-size: 20px;
		flex-basis: 35%;
		justify-content: flex-end;
		padding: 5px;
	}
}
