.section {
	display: flex;
	flex-direction: column;

	&--left {
		margin-right: $gutter;
		flex-basis: 60%;
	}

	&--right {
		flex-basis: 40%;
	}
}

.primary {
	color: $primary;
}

.signal {
 color: $signal;
}

.title-wrapper {
	display: flex;
	justify-content: flex-start;

	&--center {
		justify-content: center;
	}

}

.strong {
	&--primary {
		color: $primary;
	}

	&--signal {
		color: deeppink;
	}
}