button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.button-wrapper {
	display: flex;
	justify-content: flex-end;

	.button {
		margin-left: 10px;
	}

	&--floating-action {
		bottom: 20px;
		position: fixed;
		right: 20px;
		z-index: 16;
	}

	&--left {
		justify-content: flex-start;

		.button {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	&--space-between {
		justify-content: space-between;
		.button {
			margin: 0;
		}
	}

}

.button {
	@include elevation(2);
	background-color: $mist;
	border: 0;
	border-radius: 2px;
	color: $storm;
	font-size: 18px;
	min-width: 100px;
	padding: 10px;

	&--primary {
		background-color: $primary;
		color: $white;

		&:hover {
    	background-color: darken($primary, 5%);
    }
	}

	&--secondary {
  	background-color: $secondary;
  	color: $white;

  	&:hover {
       background-color: darken($secondary, 5%);
    }
  }

  &--small {
		font-size: 14px;
		padding: 7px;
		min-width: 75px;
  }

	&--transparent {
		@include elevation(0);
		background-color: transparent;
		color: $primary;
		min-width: 0;
	}

	&--icon {
		@include elevation(0);
		background-color: transparent;
		font-family: 'Font Awesome 5 Free', sans-serif;
		margin: -15px;
		padding: 15px;
		min-width: 0;
	}

	&--floating-action {
		@include elevation(16);
		align-items: center;
		display: flex;
		border-radius: 100px;
		justify-content: center;
		height: 60px;
		min-width: 60px;
		padding: 15px;
		width: 60px;
	}

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

button:disabled {
	background-color: $mist;
	cursor: default;
	color: $grey;

	&:hover {
		background-color: $mist;
		cursor: default;
  	color: $grey;
	}
}

.icon {
	&--large {
		font-size: 30px;
	}
}
