.datepicker-wrapper {
	position: relative;
	width: fit-content;
}

.date {
	@include elevation(2);
	align-items: center;
	background-color: $primary;
	border-radius: 2px;
	color: $ghost;
	display: flex;
	padding: 5px ($gutter/3);

	&__selected-day {
		@media(min-width: $md) {
			font-size: 16px;
		}
		font-size: 14px;
		margin: 0 10px;
	}

	&__icon {
  	color: $ghost;
	}
}

.overlay {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.picker {
	@include elevation(4);
	background-color: $white;
	padding: 10px;
	position: absolute;
	top: 30px;
	right: calc(50% - 160px);
	width: 300px;
	z-index: 2;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	&__days {
		display: flex;
		flex-wrap: wrap;
	}

	&__weekday {
		flex-basis: calc((100% / 7) - 10px);
		padding: 5px;
		text-align: center;
	}

	&__day {
		flex-basis: calc((100% / 7) - 10px);
		padding: 5px 10px 5px 0;
		text-align: right;

		&--today {
			background-color: $smoke;
		}

		&:hover {
			background-color: $mist;
		}
	}

}
