form {
	display: flex;
	flex-direction: column;
	margin-bottom: ($gutter/2);
}

.form-field {
	@media (min-width: $md) {
		flex-direction: row;
		align-items: center;
	}

	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: space-between;

	&--small {
		flex-direction: column;
		align-items: flex-start;

		.form-field__label {
			margin-bottom: 5px;
		}
	}

	&--slider {
		@include media-break($lg) {
			flex-direction: row;
		}
		flex-direction: column;
	}

	&--column {
		@media (min-width: $lg) {
			flex-direction: row;
		}
		padding-top: 10px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__label {
		@media (min-width: $md) {
			flex-basis: 40%;
			margin-bottom: 0;

    	&--small {
    		flex-basis: auto;
    		flex-grow: 1;
    	}

    	&--slider {
    		flex-basis: auto;
      	flex-grow: 1;
      	margin-top: 15px;
   			align-self: start;
    	}
		}

   	margin-right: ($gutter/3);
		margin-bottom: ($gutter/6);
	}

	&__input {
		margin-bottom: 5px;
		flex-basis: 60%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__element {
		flex-grow: 1;

		&--column {
			@media (min-width: $lg) {
				align-items: flex-start;
				flex-direction: column;
				margin-bottom: 0;
				width: auto;
			}
			align-items: center;
			flex-direction: row;
			margin-right: 10px;
			margin-bottom: 10px;
			width: 100%;
		}

		&--end {
			@media (min-width: $md) {
				align-self: flex-end;
    	}
		}
	}

	&__text {
   	font-weight: 500;
   	min-width: 30px;
  }

	&__slider {
		@include media-break($lg) {
				flex-basis: 100%;
      	flex-shrink: 1;
		}

		width: 100%;

	}

	&__disclaimer {
		color: $primary;
		font-size: 14px;
	}



}