input {
	background-color: $white;
  border: 1px solid $smoke;
  border-radius: 5px;
 	box-sizing: border-box;
 	font-family: 'Roboto', sans-serif;
  font-size: 16px;
	padding: 10px;
	width: 100%;

	&::placeholder {
  	color: $silver;
  	font-weight: normal;
  	font-size: 12px;
  }
}

input[type=number] {
	-moz-appearance: textfield;
}