.intake-goal-wrapper {
	@media(min-width: $md) {
		margin-bottom: ($gutter/2);
	}

	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;
	padding: ($gutter/2);
	margin-bottom: 5px;
}

.intake-goal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__numbers {
		@media(min-width: $md) {
			display: flex;
    	flex-direction: column;
    	justify-content: space-between;
		}

		@media(min-width: $lg) {
			flex-grow: 1;
		}

		display: none;
	}

	&__graph {
		flex-grow: 3;
	}

	&__calories {
		@media(min-width: $lg) {
			display: flex;
			font-size: 24px;
      margin-bottom: $gutter;
		}
  	display: none;
  }

  &__macros {
    @media(min-width: $md) {

    }
  	display: flex;
  	flex-direction: column;
  	height: 100%;
  	justify-content: space-around;
  }

  &__macro {
    @media(min-width: $lg) {
      margin-bottom: 5px;
    }
  }

	&--placeholder {
		font-weight: 400;
	}

}