.macro-box {
	@include media-break($md) {
		flex-direction: row;
		align-items: start;
	}

	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: space-around;
	align-items: center;

	&__macro {
		align-items: center;
		display: flex;
		margin-bottom: 0;
	}
}