.modal-wrapper {
	background-color: transparentize(black, 0.6);
	height: 100%;
	left: 0;
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.modal {
	margin: 8% auto;
	max-width: 1000px;
	width: 80%;

	&__header {
		background-color: $primary;
		border-radius: ($gutter/2) ($gutter/2) 0 0;
		color: $white;
		display: flex;
		justify-content: space-between;
		padding: $gutter;

		&__title {
			font-weight: normal;
			margin: 0;
		}
	}

	&__content {
		background-color: $ghost;
		border-radius: 0 0 ($gutter/2) ($gutter/2);
  	padding: $gutter;
	}

	&__label {
		display: block;
		padding-top: 10px;
		margin-bottom: 10px;
	}

	&__button-wrapper {
		display: flex;
		justify-content: flex-end;
		padding-top: 15px;

		.button {
			margin-left: ($gutter/2);
		}
	}
}