.nav-backdrop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	transition: background-color 1.0s;
	z-index: 20;
}

.nav-wrapper {
	@media(min-width: $md) {
		display: none;
	}
	display: flex;
	flex-direction: column;
	height: 100%;
	right: 0;
	position: fixed;
	top: 0;
	margin-right: -$md;
	transition: 0.3s;
	z-index: 20;
}

.nav {
	@include elevation(4);
	background-color: $ghost;
	height: 100%;
	min-width: 200px;

	&__item {
		align-items: center;
		border-bottom: 1px solid $smoke;
		cursor: pointer;
		padding: ($gutter/2);
		display: flex;
		justify-content: space-between;

		&__text {
			padding-right: ($gutter/2);
		}

		&:hover {
			background-color: $smoke;
		}

		&:focus {
    	outline: none;
    }

		&--top {
			background-color: $primary;
			color: $white;
			font-size: 20px;
			padding: 16px;

			&:hover {
				background-color: $primary;
			}
		}

	}
}
