.slider-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}

.slider {
	height: 50px;
	margin: 0 10px 10px;
	min-width: 120px;
	position: relative;

	&__track-container {
		position: relative;
	}

	&__track {
		@include elevation(1);
		background-color: lightgray;
		border-radius: 2px;
		height: 6px;
		position: absolute;
		top: 23px;
		left: 0;
		right: 0;

		&--fill {
			@include elevation(0);
			background-color: $primary;
			transition: width 0.3s;
		}
	}

	&__handle {
		background-color: $primary;
		position: absolute;
		border-radius: 50%;
		height: 22px;
		width: 22px;
		top: 15px;
		transition: left 0.3s;
	}

	&__marker {
		@include elevation(1);
		background-color: $secondary;
		border-radius: 5px;
		position: absolute;
		top: 18px;
		left: 0;
		right: 0;
		height: 16px;
		width: 6px;

		&__label-container {
			position: relative;
		}

		&__label {
			font-size: 12px;
			position: absolute;
			top: 25px;
			left: -18px;

			&--above {
				@include media-break($lg) {
					top: 25px;
				}

				top: -25px;
			}
		}
	}
}

