.toast {
	@media(min-width: $md) {
		font-size: 16px;
		min-width: 250px;
	}

	@elevation(8);
	background-color: $primary;
	border-radius: 3px 3px 0 0;
	bottom: 0;
	color: $mist;
	font-size: 14px;
	font-weight: 300;
	height: 0;
	position: fixed;
	text-align: center;
	transition: height 0.2s;
  padding: 0 $gutter;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 24;

	&__message {
		padding-top: ($gutter/2);
	}

}
