.usermenu-backdrop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 20;
}

.usermenu-wrapper {
	display: flex;
	flex-direction: column;
	right: 30px;
	position: absolute;
	top: 30px;
	margin-top: -300px;
	transition: 0.3s;
	z-index: 20;
}

.usermenu {
	@include elevation(4);
	background-color: $ghost;

	&__item {
		border-bottom: 1px solid $smoke;
		cursor: pointer;
		padding: $gutter/2;
		font-size:15px;

		&:hover {
			background-color: $smoke;
		}

		&:focus {
    	outline: none;
    }

		&--top {
			background-color: $primary;
			color: $white;
			font-size: 20px;
			padding: ($gutter/3*2);
			text-align:right;

			&:hover {
				background-color: $primary;
			}
		}
	}
}
